/* General */

* {
    font-family: 'Courier New', Courier, monospace;
    color: #eeeeee;
}

body {
    margin: 0;
    padding: 0;
    background-color: #202020;
}

p {
    font-size: 20px;
}

body div div {
    margin: 2em 2em;
}

#container {
    min-height: 100%;
}