/* For tables */

.table-dark {
    background-color: #202020;
}

.table thead tr th {
    background-color: #202020;
}

.table tbody tr td {
    padding: 2em;
    background-color: #20202000;
}

#table-image {
    max-width: 100%;
}